
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "variables";

@import "~bootstrap/scss/bootstrap";

// Icons
@import '~simple-line-icons/css/simple-line-icons.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Coreui
@import '~@coreui/coreui/scss/coreui';



